<!-- Header Component -->
<header class="header" id="header">
    <nav class="nav container">
        <div class="nav__logo">
            <a href="index.html" class="nav__logo-link">
                <img src="assets/images/logo.png" alt="TinyStepsBD Logo" class="nav__logo-img">
                <span class="nav__logo-text">TinyStepsBD</span>
            </a>
        </div>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link">হোম</a>
                </li>
                <li class="nav__item">
                    <a href="shop.html" class="nav__link">শপ</a>
                </li>
                <li class="nav__item">
                    <a href="about.html" class="nav__link">আমাদের সম্পর্কে</a>
                </li>
                <li class="nav__item">
                    <a href="contact.html" class="nav__link">যোগাযোগ</a>
                </li>
            </ul>
        </div>

        <div class="nav__actions">
            <div class="nav__search">
                <i class="fas fa-search nav__search-icon"></i>
            </div>
            <div class="nav__cart">
                <a href="cart.html" class="nav__cart-link">
                    <i class="fas fa-shopping-cart nav__cart-icon"></i>
                    <span class="nav__cart-count">0</span>
                </a>
            </div>
            <div class="nav__toggle" id="nav-toggle">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
</header>